version: "3.9"
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    env_file:
      - .env
    environment:
      - HOSTNAME=0.0.0.0
      - PORT=5000
      - CHOKIDAR_USEPOLLING=true
      - MONGODB_URI=mongodb://mongo:27017
      - MONGODB_DATABASE=stagpower-gym
      - NODE_ENV=development
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    volumes:
      - ./:/app
      - /app/node_modules
    command: npm run dev
volumes:
  mongo_data: